.container {
  color: white;
  display: flex;
  align-items: center;
  padding: 7% 5% 0 5%;
  position: relative;
  height: 78vh;
  .ContactUs {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    z-index: 2;
    .contactUsTitle {
      margin-left: -5vw;
    }
  }
  .background_elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    .eatrh {
      position: absolute;
      right: -12vw;
      opacity: 0.6;
      object-fit: contain;
      height: 100vh;
    }
    .shapeBlurLeft {
      position: absolute;
      left: -30vw;
      opacity: 0.6;
      bottom: 0;
      object-fit: contain;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .container {
    .background_elements {
      .eatrh {
        right: -15vw;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    .ContactUs {
      margin: -2vh 0;
    }
    .background_elements {
      scale: 0;
      display: none;
    }
  }
}

// @media only screen and (max-width: 900px) {
//   .container {
//     color: white;
//     display: flex;
//     align-items: center;
//     position: relative;
//     height: 70vh;
//   }
// }
