.card{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.40219rem;
    background: linear-gradient(178deg, rgba(5, 3, 17, 0.30) 33.7%, rgba(38, 169, 167, 0.30) 186.88%);
    backdrop-filter: blur(63px);
    width: 12rem;
    height: 13rem;
    gap: 0.25rem;
    padding:2rem 1.17rem;
    .img{
        border-radius: 100%;
        width: 55%;
        height: 57%;
    }
    .name{
        font-size: 1.17rem;
    }
    .post{
        font-size: x-small;
        opacity: 0.5;
    }
    .description{
        font-size: small;
        text-align: center;
    }
}