.container {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 7% 0;
  position: relative;
  overflow: hidden;
  .titleBox {
    display: flex;
    justify-content: center;
  }
  .Slider {
    z-index: 4;
    display: flex;
    width: fit-content;
    gap: 1vw;
    animation: scroll 20s cubic-bezier(0.24, 0, 0.76, 1) infinite;
    padding: 0 1vw;
    margin: auto;

    &:hover {
      animation-play-state: paused;
    }
  }
  .Slider > div {
    &:hover {
      scale: 1.02;
      cursor: pointer;
      transition: all 0.15s ease-in-out;
    }
  }
  .Slider:hover > div:not(:hover) {
    filter: blur(4px);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc((13vw) * -6.4));
    }
    100% {
      transform: translateX(0);
    }
  }

  .blurRight,
  .blurLeft {
    position: absolute;
    width: 50%;
  }
  .blurRight {
    right: -20%;
  }
  .blurLeft {
    left: -25%;
    top: 1%;
  }
}
