.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh 5vw;
  position: relative;
  gap: 5vh;
  .mainInfos {
    display: flex;
    align-items: center;
    .text {
      font-size: 1.2rem;
      width: 70%;
      line-height: 150%;
      font-weight: 300;
    }
    .logo {
      width: 20vw;
      height: fit-content;
      margin: 2vh 3vw;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 10vh 5vw;
    gap: 0vh;
    .mainInfos {
      flex-direction: column;
      text-align: center;
      gap: 3vh;
      .text {
        font-size: 1rem;
        width: 100%;
        line-height: 150%;
        font-weight: 300;
        order: 2;
      }
      .logo {
        width: 40vw;
        order: 1;
      }
    }
  }
}
