@keyframes scrollL {
  0% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-20%);
  }
}
@keyframes scrollR {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}
  