.container {
  margin: 20vh 5vw;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  .Team {
    display: flex;
    flex-wrap: wrap;
    gap: 4vh;
    justify-content: center;
    z-index: 5;
  }
  .blurBottom {
    position: absolute;
    bottom: -45vh;
    left: -20vw;
    z-index: 2;
  }
  .blurTop {
    position: absolute;
    top: -30vh;
    right: -15vw;
    z-index: 2;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    margin: 10vh 5vw;
  }
}
