.container {
  margin: 20vh 5vw;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  .Team {
    display: flex;
    flex-wrap: wrap;
    gap: 4vh;
    justify-content: center;
    z-index: 5;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    margin: 10vh 5vw;
  }
}
