.NavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11%;
  width: 100%;
  position: fixed;
  z-index: 10;
  background: linear-gradient(
    180deg,
    rgba(63, 215, 78, 0.03) 0%,
    rgba(63, 215, 78, 0.03) 75.48%,
    rgba(63, 215, 78, 0) 100%
  );
  backdrop-filter: blur(5px);
  padding-left: 4%;
  padding-right: 5%;
}
.logo {
  scale: 0.8;
}
.NavList {
  display: flex;
  justify-content: center;
  width: 25vw;
  font-family: var(--font-primary);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.NavList a {
  margin: 0 0.8vw;
}
.NavMenu{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .NavList a {
    margin: 0 0.6vw;
  }
}

@media only screen and (max-width: 800px) {
  .NavList a {
    margin: 0 0vw;
  }
}

@media only screen and (max-width: 600px) {
  .NavContainer{
    position: relative;
    padding-right: 8%;
    backdrop-filter: blur(0px);
  }
  .logo {
    scale: 0.7;
  }
}
