.container {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 15vh 0;
  position: relative;
}
.container .titleBox {
  display: flex;
  justify-content: center;
}
.container .Slider {
  z-index: 4;
  display: flex;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin-top: 5vh;
}
.container .Slider .clubsList {
  display: flex;
  width: 100%;
  gap: 10px;
  animation: scroll 5s cubic-bezier(0.24, 0, 0.76, 1) infinite;
  padding: 0 10px;
  margin: auto;
}
.container .Slider .clubsList:hover {
  animation-play-state: paused;
}
.container .Slider .clubsList > div:hover {
  scale: 1.02;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.container .Slider .clubsList:hover > div:not(:hover) {
  filter: blur(4px);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.container .blurRight,
.container .blurLeft {
  position: absolute;
  width: 50%;
}
.container .blurRight {
  right: -20%;
}
.container .blurLeft {
  left: -25%;
  top: 1%;
}

@media only screen and (max-width: 1100px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-60%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 1050px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-61.85%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 1000px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-63.7%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 950px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-65.7%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 900px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-67.2%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 850px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-68.125%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 800px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-69.8%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 750px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-71.6%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 700px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-73.36%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 650px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-75.26%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 600px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-77.1%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 550px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-78.91%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 500px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-81%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 450px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-82.9%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 400px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-85.5%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 350px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-87.5%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 300px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-89%);
    }
    100% {
      transform: translateX(0);
    }
  }
}/*# sourceMappingURL=sliderSection.module.css.map */