.container {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 15vh 0;
  position: relative;
  width: 100vw;
  .titleBox {
    display: flex;
    justify-content: center;
  }
  .Slider {
    z-index: 4;
    display: flex;
    position: relative;
    margin-top: 5vh;
    width: 100vw;
    .clubsList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
      // animation: scroll 2s cubic-bezier(0.24, 0, 0.76, 1) infinite;
      margin: auto 10px;
      // &:hover {
      //   animation-play-state: paused;
      // }
    }
    .clubsList > div {
      &:hover {
        // scale: 1.02;
        cursor: pointer;
        // transition: all 0.15s ease-in-out;
      }
    }
    // .clubsList:hover > div:not(:hover) {
    //   filter: blur(4px);
    // }
  }

  // @keyframes scroll {
  //   0% {
  //     left: 0;
  //   }
  //   50% {
  //     right: 0;
  //   }
  //   100% {
  //     left: 0;
  //   }
  // }
}
