.container {
  padding: 5vh 5vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 15;
  .logo_socials_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo_socials {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .links {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-family: var(--font-primary);
    }
  }
  .copyrights {
    text-align: center;
    font-family: var(--font-primary);
    font-weight: 200;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    .logo_socials_links {
      margin: 0 0 3vh 0;
      flex-direction: column;
      .logo_socials {
        margin: 3vh 0;
        flex-direction: column;
        .Rectangle {
          display: none;
        }
      }
      .links {
        gap: 5vw;
      }
    }
  }
}
