.Footer_container {
  height: 100vh;
  padding: 7% 5% 2% 5%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  .ContactUs {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    z-index: 2;
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      div {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        label {
          font-family: var(--font-primary);
          font-size: 1.3rem;
          font-weight: 300;
          background: var(--light-glow);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        textarea {
          color: white;
          font-size: 1rem;
          padding: 10px 16px;
          box-sizing: border-box;
          border-image: var(--light-glow) 10;
          border-width: 2px;
          border-style: solid;
          background: linear-gradient(
            90deg,
            rgba(201, 255, 254, 0.02) -8.41%,
            rgba(255, 237, 199, 0.02) 145.69%
          );
          resize: none;
        }
        textarea:focus,
        input:focus {
          outline: none;
        }
      }
    }
  }
  .background_elements {
    position: absolute; // This makes the background elements position relative to the Footer_container
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    .eatrh {
      position: absolute;
      scale: 1.2;
      right: -25vw;
      opacity: 0.4;
      bottom: 0;
      object-fit: contain;
      animation-name: rotate;
      animation-duration: 70s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .shapeBlurLeft {
      position: absolute;
      left: -30vw;
      object-fit: contain;
    }
  }
  .bottom_elements {
    z-index: 2;
    .logo_socials_links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo_socials {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      .links {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-family: var(--font-primary);
      }
    }
    .copyrights {
      text-align: center;
      font-family: var(--font-primary);
      font-weight: 200;
    }
  }
}
