.container {
  padding: 0 5% 2% 5%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  .logo_socials_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo_socials {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .links {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-family: var(--font-primary);
    }
  }
  .copyrights {
    text-align: center;
    font-family: var(--font-primary);
    font-weight: 200;
  }
}
