.container {
    padding: 16vh 33vw 0vh 6vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    color: white;
    h1{
        font-weight: bolder;
        font-size: 2.7rem;
        background: var(--light-glow);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 140%;
    }
    p{
        font-weight: 300;
        line-height: 180%;
    }
    .infos {
      display: flex;
      gap: 2.3vw;
      align-items: center;
      span {
        font-weight: 300;
        background: var(--light-glow);
        padding: 5px 8px;
        border-radius: 3px;
      }
    }
    .participants{
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        margin-top: 1%;
        justify-content: center;
        overflow: hidden;
        border-radius: 20px;
        .participant,.out{
            width: 90px;
            height: 90px;
            overflow: hidden;
            .img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .participant{
          width: 120px;
          height: 120px;
        }
        .out{
            .img {
                filter: grayscale(100%) brightness(80%);
            }            
        }
    }
  }

  @media only screen and (max-width: 600px) {
    .container {
      padding-left: 8vw;
      padding-right: 8vw;
      gap: 3vh; 
      h1 {
        font-size: 1.5rem;
      }
      .infos {
        gap: 6vw;
        span {
          font-weight: 300;
          background: var(--light-glow);
          padding: 5px 8px;
          border-radius: 3px;
        }
      }
      .participants{
        width: 100%;
        .participant,.out{
            width: 70px;
            height: 70px;
        }
      }
    }
  }
  
  @media only screen and (max-width: 912px) {
    .container {
      padding-top: 13vh;
      padding-left: 8vw;
      padding-right: 8vw;
      gap: 4vh;
      .imgContainer {
        .img {
          width: 100%;
        }
      }
      .participants{
        width: 100%;
        .participant,.out{
            width: 70px;
            height: 70px;
        }
    }
    }
  }
  
  