.container {
    padding: 16vh 18vw 0vh 16vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    color: white;
    align-items: center;
    h1{
        font-weight: bolder;
        font-size: 2.7rem;
        background: var(--light-glow);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 140%;
        text-align: center;
    }
    p{
        font-weight: 300;
        line-height: 180%;
        text-align: center;
    }
    .infos {
      display: flex;
      gap: 2.3vw;
      align-items: center;
      span {
        font-weight: 300;
        background: var(--light-glow);
        padding: 5px 8px;
        border-radius: 3px;
      }
    }
    .participants{
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        margin-top: 1%;
        justify-content: center;
        overflow: hidden;
        border-radius: 20px;
        align-items: end;
        .participant,.out,.winner,.demi{
            width: 90px;
            height: 90px;
            overflow: hidden;
            .img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .participant{
          width: 120px;
          height: 120px;
        }
        .winner:hover,.participant:hover,.demi:hover{
          .img{
            transform: scale(1.1);
            transition: transform 0.3s ease;
          }
        }
        .out{
            .img {
                filter: grayscale(100%) brightness(80%);
            }            
        }
        .winner{
          width: 200px;
          height: 200px;
          border: solid 3px;
          border-color: var(--light-blue);
        }
    }
  }

  @media only screen and (max-width: 600px) {
    .container {
      padding-left: 8vw;
      padding-right: 8vw;
      gap: 3vh; 
      h1 {
        font-size: 1.45rem;
      }
      .infos {
        gap: 6vw;
        span {
          font-weight: 300;
          background: var(--light-glow);
          padding: 5px 8px;
          border-radius: 3px;
        }
      }
      .participants{
        width: 100%;
        .winner{
          width: 150px;
          height: 150px;
        }
        .out,.demi{
            width: 70px;
            height: 70px;
        }
        .participant{
            width: 100px;
            height: 100px;
        }
      }
    }
  }
  
  @media only screen and (max-width: 912px) {
    .container {
      padding-top: 13vh;
      padding-left: 8vw;
      padding-right: 8vw;
      gap: 4vh;
      .imgContainer {
        .img {
          width: 100%;
        }
      }
      .participants{
        width: 100%;
        .winner{
          width: 120px;
          height: 120px;
        }
        .demi,.out{
            width: 70px;
            height: 70px;
        }
        .participant{
            width: 80px;
            height: 80px;
        }
    }
    }
  }
  
  