.container {
  padding: 20vh 5vw;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  .newsBar{
    width: 100vw;
    margin-left: -5vw;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 8px 2px #000000;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 998;
    margin-top: -5vh;
    padding: 2px 0;
    p{
      margin: 0;
      display: inline-block;
      font-size: 20px;
      padding-left: 100%;
      animation: tickerTape 20s linear infinite;
    }
    @keyframes tickerTape {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-100%, 0);
      }
    }
  }
  h1 {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    span {
      background: var(--light-glow);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .recentlyposted {
    display: flex;
    flex-wrap: wrap;
    gap: 3vh 2.4vw;
    a {
      flex-direction: row;
    }
  }
  .allnews {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5vh 1vw;
    a {
      flex-direction: column;
    }
  }
}
@media only screen and (max-width: 1250px) {
  .container {
    .recentlyposted {
      justify-content: center;
    }
    .allnews {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    .recentlyposted {
      a {
        flex-direction: column;
      }
    }
  }
}
