.Hero_container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  .blurBottom,
  .blurTop {
    position: absolute;
    scale: 1.3;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    z-index: 2; // Above the moonLogo
  }
  .blurBottom {
    bottom: -40vh;
    left: -15vw;
    animation-name: translateBottom;
  }
  .blurTop {
    top: -40vh;
    right: -15vw;
    animation-name: translateTop;
  }
  .Hero_left {
    width: 50vw;
    margin: 0 0 2vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    z-index: 4; // Above the blurs, Hero_right, and moonLogo
    p {
      color: white;
      font-size: 1.3rem;
      font-weight: 100;
    }
    h1 {
      font-size: 3.8rem;
      font-weight: bolder;
      text-transform: uppercase;
      background: var(--light-glow);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 20px;
      white-space: nowrap;
    }
    .description {
      margin-top: -5vh;
    }
    .button_promo {
      display: flex;
      align-items: center;
      gap: 1.7vw;
      margin-top: -1%;
      white-space: nowrap;
    }
  }
  .socialMedia {
    position: absolute;
    bottom: 10vh;
    padding-left: 5vw;
  }

  .Hero_right {
    .moonLogo {
      mix-blend-mode: color-dodge;
      z-index: 1; // Above the background, but below other elements.
      opacity: 0.8;
      position: absolute;
      top: -1.7rem;
      right: -4rem;
      height: 110vh;
      width: 55%;
      animation: rotate 70s linear infinite;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes translateBottom {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(70vw);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes translateTop {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-70vw);
    }
    100% {
      transform: translateX(0%);
    }
  }
}
@media only screen and (max-width: 992px) {
  .Hero_container {
    .blurBottom {
      left: -40vw;
    }
    .blurTop {
      right: -40vw;
    }
    .Hero_left {
      p {
        font-size: 1.1rem;
      }
      h1 {
        font-size: 2.8rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .Hero_container {
    .Hero_left {
      width: 60vw;

      p {
        font-size: 1.1rem;
      }
      h1 {
        font-size: 2.9rem;
      }
    }
    .socialMedia {
      img {
        scale: 0.9;
      }
    }
    .Hero_right {
      .moonLogo {
        opacity: 0.6;
        top: -1.7rem;
        right: -4rem;
        height: 110vh;
        width: 70%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .Hero_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .blurBottom,
    .blurTop {
      display: none;
      animation: none;
    }
    .Hero_left {
      width: 100vw;
      justify-content: space-between;
      align-items: center;
      margin-top: -5vh;
      p {
        font-size: 1.3rem;
        font-weight: 100;
      }
      h1 {
        font-size: 2.5rem;
        margin: 0 8vw;
      }
      .description {
        margin: 0 8vw 6vh 8vw;
      }
      .button_promo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.7vw;
        margin-top: 2vh;
        white-space: nowrap;
      }
    }
    .socialMedia {
      position: absolute;
      bottom: 17vh;
      padding-left: 5vw;
    }

    .Hero_right {
      .moonLogo {
        opacity: 0.3;
        top: -10vh;
        scale: 1.3;
        right: 0;
        height: 100vh;
        width: 100vw;
      }
    }
  }
}
