.Hero_container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .blurBottom,
  .blurTop {
    position: absolute;
    scale: 0.8;
    opacity: 0.5;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    z-index: 2; // Above the moonLogo
  }

  .blurBottom {
    bottom: -75vh;
    left: -30vw;
    animation-name: translateBottom;
  }

  .blurTop {
    top: -60vh;
    right: -30vw;
    animation-name: translateTop;
  }

  .Hero_left {
    width: 50%;
    padding-left: 5%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
    z-index: 4; // Above the blurs, Hero_right, and moonLogo

    .Hero_texts {
      line-height: 60px;

      p {
        color: white;
        font-size: 1.4rem;
        font-weight: 200;
      }

      h1 {
        font-size: 4.2rem;
        font-weight: bolder;
        text-transform: uppercase;
        background: var(--light-glow);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 20px;
      }

      .description {
        margin-top: -3%;
      }
      .button_promo {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: -1%;
      }
    }
  }

  .Hero_right {
    .moonLogo {
      mix-blend-mode: color-dodge;
      z-index: 1; // Above the background, but below other elements.
      position: absolute;
      top: -1.7rem;
      right: -4rem;
      height: 110vh;
      width: 55%;
      animation-name: rotate;
      animation-duration: 15s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes translateBottom {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(110%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes translateTop {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-110%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}
