.Hero_container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.Hero_left {
		padding-left: 5%;
		p {
			color: white;
			font-weight: 200;
		}
		.slogon {
			font-size: 3.5rem;
			line-height: 60px;
			text-transform: uppercase;
			background: var(--light-glow);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		.description {
		}
		.button {
			display: flex;
			background: var(--light-glow);
			width: fit-content;
		}
		.social_media > element {
			padding: 20px;
		}
	}
	.moonLogo {
		mix-blend-mode: color-dodge;
	}
}
