.container {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 7% 0;
  position: relative;
  .titleBox {
    display: flex;
    justify-content: center;
  }
  .Sliders {
    width: 90vw;
    margin: auto;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      transparent,
      black 15%,
      black 85%,
      transparent
    );
    .Slider1,
    .Slider2 {
      z-index: 4;
      white-space: nowrap;
      padding: 2vh 2vw;
      div {
        display: inline-block;
        animation: slide 20s linear infinite;
        img {
          margin: 2vh 2vw;
        }
      }
    }
    .Slider2 div {
      animation-direction: reverse;
    }

    @keyframes slide {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
  }
  .blurRight,
  .blurLeft {
    position: absolute;
    width: 50%;
  }
  .blurRight {
    right: -20%;
  }
  .blurLeft {
    left: -25%;
    top: 1%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    height: 80vh;
    .Sliders {
      width: 95vw;
      .Slider1,
      .Slider2 {
        padding: 2vh 2vw;
        div {
          img {
            margin: 2vh 2vw;
            scale: 0.9;
          }
        }
      }
    }
    .blurRight,
    .blurLeft {
      display: none;
    }
  }
}
