.container {
  display: flex;
  padding: 16vh 35vw 2vh 6vw;
  flex-direction: column;
  color: white;
  gap: 5vh;
  h1 {
    font-weight: bolder;
    font-size: 2.7rem;
    background: var(--light-glow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 140%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-bottom: 2vh;
    padding-left: 8vw;
    padding-right: 8vw;
    gap: 3vh;
    h1 {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 912px) {
  .container {
    padding-top: 13vh;
    padding-bottom: 2vh;
    padding-left: 8vw;
    padding-right: 8vw;
    gap: 4vh;
  }
}
